# Ignorar arquivos python que começam com número
[0-9]*.py

# Ignorar arquivos específicos
main.py
prova1.py
prova2.py
prova3.py

# Ignorar pasta .idea
.idea/

# Ignorar caches
__pycache__/
*.pyc
*.pyo
*.log

# EXCETO arquivos que começam com ex
!ex*.py
